::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

.select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  background-size: 12px;
}

.input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.remove-button {
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
